#top_area {
    position: fixed;
    left: 0px;
    right: 0px;
}

#center_area {
    padding-top: 60px;
    font-family: "微軟正黑UI";
    float: left;
    margin-left:10%;
    z-index: 20
}

#main_area {
     margin-left: 20%;
     margin-right: 5%;
}

#indexbar {
    padding-top: 20px;
    margin-left:5%;
    margin-right:70%;
    z-index: 10
}

#navbar {
    z-index: 30
}

#indexbar a {
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    position: relative;
    color: #767676;
    font-size: 12px;
    display: block;
}

#indexbar .activated>a {
    color: #000;
    background-color: transparent;
    border-left: 2px solid #000;
}

#indexbar ul {
    display: block;
    padding-left: 15px;
}

#indexbar li {
    display: block;
}